Hi <%= current_user.email %>
<section>
Here are your appointments today
<ul>
  <% @appointments.each do |appointment| %>
    <%= render partial: 'shared/appointment', locals: {appointment: appointment} %>
  <% end %>
</ul>

</section>
