<h1 class="header center  pink-text">Med Assist</h1>
    <div class="row center">
      <h5 class="header col s12 light">Focus on what matters</h5>
    </div>
<%= link_to "Log in", new_user_session_path, class: "btn-large waves-effect waves-light pink" %>
