<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    
    <div class="row center">
      <% if user_signed_in? %>
        <%= render 'index_signed_in' %>
      <% else %>
        <%= render 'landing' %>
      <% end %>
    </div>
    <br><br>

  </div>
</div>
