<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center  pink-text">Med Assist</h1>
    <div class="row center">
      <h5 class="header col s12 light">Focus on what matters</h5>
    </div>
    <div class="row center">
      <% if user_signed_in? %>
        Hi <%= current_user.email %>
        You are now logged in<br/>
        <section>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn-large waves-effect waves-light pink" %>
        </section>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn-large waves-effect waves-light pink" %>
      <% end %>
    </div>
    <br><br>

  </div>
</div>
