<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center  pink-text">Med Assist</h1>
    <div class="row center">
      <h5 class="header col s12 light">Focus on what matters</h5>
    </div>
    <div class="row center">
      <% if user_signed_in? %>
        <%= render 'index_signed_in' %>
      <% else %>
        <%= render 'landing' %>
      <% end %>
    </div>
    <br><br>

  </div>
</div>
