<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to new_patient_url, class:"btn-floating btn-large red" do %>
    <i class="large material-icons">add</i>
    <% end %>
</div>
