<footer class="page-footer grey lighten-5 ">
  <div class="footer-copyright grey-text text-darken-2">
    <div class="container">
      @2016 MedAssist, Inc.
      <div class="right ">
      </div>
    </div>
  </div>
</footer>

